{% extends "portfolio/base.html" %}
    
{% block content %}

<a href = "{% url 'edit-competence' id=competence.id%}" class = "redirect-button"> Edit Competence </a>
<a href = "{% url 'delete-competence' id=competence.id%}" class = "redirect-button"> Delete Competence </a>

<br>
<br>
<br>

<section>   
    <article>
            <header>
                <h3>{{ competence.name }}</h3>
            </header>

            <section>
                <h4>Related technologies:</h4>
                <ul>
                    {% for tech in competence.technologies.all %}
                        <li>{{ tech.name }}</li>
                    {% empty %}
                        <li>None</li>
                    {% endfor %}
                </ul>
            </section>

            
        </article>
</section>

 
{% endblock %}