{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>Education</h2>

<section>
    <a href = "{% url 'new-education' %}" class = "redirect-button"> New Education </a>
    <br>
    <br>

    <h2> Education </h2>
    {% for ed in education %}
    <a href = {% url 'education-details' id=ed.id %}>
        <article>
            <header>
                <h3>{{ ed.name }}</h3>
            </header>

            <section>
                <h4>{{ed.start_year}} - {{ed.end_year}}</h4>
            
            </section>

            
        </article>
    </a>
    {% endfor %}
</section>
{% endblock %}