{% extends "portfolio/base.html" %}
    
{% block content %}

<a href = "{% url 'edit-project' id=project.id%}" class = "redirect-button"> Edit Project </a>
<a href = "{% url 'delete-project' id=project.id%}" class = "redirect-button"> Delete Project </a>

<br>
<br>
<br>

<section>
    <article>
        <header>
            <h3>{{ project.name }}</h3>
            <h4>{{ project.description }}</h4>
        </header>

        <section>
            <h4>Course:</h4>
            <ul>
                <li> {{project.subject.name}} </li>
            </ul>
        </section>

        <section>
                <h4>Technologies used:</h4>
                <ul>
                    {% for technology in project.technologies.all %}
                        <li>{{technology.name}}</li>
                    {% empty %}
                        <li>None</li>
                    {% endfor %}
                </ul>
            </section>
    </article>

</section>

 
{% endblock %}