{% extends "portfolio/base.html" %}
    
{% block content %}

<a href = "{% url 'edit-technology' id=technology.id%}" class = "redirect-button"> Edit Technology </a>
<a href = "{% url 'delete-technology' id=technology.id%}" class = "redirect-button"> Delete Technology </a>

<br>
<br>
<br>

<section>
    <article>
            <header>
                <h3>{{ technology.name }}</h3>
                <img src = {{technology.image.url}} height="70">
                <p> {{technology.description}} </p>
                <br>
                 <a href = {{technology.link}} class = "article-link", target = _blank> Link to website </a>
            </header>

        

            <section>
                <h4>Competences</h4>
                <ul>
                    {% for competence in technology.competences.all %}
                        <li>{{ competence.name }}</li>
                    {% empty %}
                        <li>None</li>
                    {% endfor %}
                </ul>
            </section>

        
        </article>

</section>

 
{% endblock %}