{% extends "portfolio/base.html" %}
    
{% block content %}

{% if user.is_authenticated and es_el_autor %}
    <a href = "{% url 'edit-article' id=article.id%}" class = "redirect-button"> Edit Article </a>
    <a href = "{% url 'delete-article' id=article.id%}" class = "redirect-button"> Delete Article </a>
{% endif %}


<br>
<br>
<br>

<section>
        <article>
            <header>
                <h3 class = "article-author">{{ article.author.username }}</h3>
            </header>

            <section>
                <p class = "article-text"> {{article.text}} </p>
                <img src = '{{ article.picture.url }}', width="500">
                <br>
                {% if article.link %}
                    <a href = {{article.link}} class = "article-link"> {{article.link}}  </a>
                    <br>
                {% endif %}


                {% load static %}

                <div class = "like-comment-count">
                
                    <a href = {% url 'like-article' id=article.id%}>
                        {% if user in article.liked_users.all %}
                            <img src = {% static 'images/like1.png' %} height = "25" class = "icon"> 
                        {% else %}
                            <img src = {% static 'images/like0.png' %} height = "25" class = "icon"> 
                        {% endif %}
                    </a>
                    <span class = "count"> {{ article.liked_users.count }} </span>
                    


                    <img src = {% static 'images/comment.png' %} height = "25" class = "icon">
                    <span class = "count"> {{ article.comments.count }} </span>

                </div>
                <br>

                <hr>
                <br>

                <h3> Comments </h3>
                <form action = {% url 'comment-article' id=article.id %} method = "post" enctype = 'multipart/form-data'>
                    {% csrf_token %}
                    {{comment_form.as_p}}

                    <input class = "submit-button" type = "submit" value = "Submit comment">
                </form>

                <hr>

                <section>
                    {% for comment in article.comments.all %}
                        <div class = "comment">
                            <h3> {{comment.user.username}} </h3>
                            <p> {{comment.text}} </p>
                        </div>

                        <hr>
                    
                    {% empty %} 
                        <p> No comments yet </p>
                    {% endfor %}
                </section>

                





            </section>

            
        </article>

</section>

 
{% endblock %}
